.container-head{
	width: 100%;
	height: 400px;
	background-color: #e3e3e3;
	/*background-image: url('images/blue-bg.jpg');*/
}

.title-header{
	color: #ffffff;
	text-align: center;
	padding: 150px 0px 0px 0px;

}

.title-skills{
	color: #ffffff;
	text-align: center;
	padding: 5px;
	
}

.title-skills-container{
	border-bottom: 50px solid #289ad6;
	border-right: 30px solid transparent;
	width: 30%;
	height: 0;
	padding: 20px 0px 0px 0px;
}



.card-deck {

	   padding: 100px;
   

}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}


@media only screen and (max-width: 1240px){

.card-deck {
 padding: 100px 50px 100px 50px; 

}
.title-skills-container{
width: 100%;
}



}