.container-head{
	width: 100%;
	height: 400px;
	background-color: #292929;
	background-image: url('images/blue-banner.jpg');
}

.title-header{
	color: #ffffff;
	text-align: center;
	padding: 150px 0px 0px 0px;

}

.title-skills{
	color: #292929;
	text-align: center;
	padding: 50px 0px 0px 0px;
}

.card-deck {

	   padding: 100px;
   

}


@media only screen and (max-width: 1240px){

.card-deck {
 padding: 100px 50px 100px 50px; 

}

}